body
{
  background-color: black;
  font-family: 'Dancing Script', cursive;
  color: white;
}
header
{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  animation: mianimacion 1s;
}
@-webkit-keyframes mianimacion{
  0%
  {
    margin-top: 150%
  }
  60%
  {
    margin-top: -5%
  }
  100%
  {
    margin-top: 0%
  }
}
header h1
{
  text-shadow: 2px 2px 2px #02010a;
  flex-grow: 1;
  padding-bottom: 1.5 %;
  font-size: 6vh;
}
header nav
{
  flex-grow: -3;
  padding: 3%;
  font-weight: 2vh;
  font-size: 2vw
}
header nav a:link
{
  color: white;
}
header nav a:visited
{
  color: white;
}
#Inicio:link
{
  text-decoration: none;
}
/* NOTE: body */
section
{
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d5c75f;
}
section img:nth-child(even)
{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
section img
{
  display: block;
  width: 30.33%;
}
section img:nth-child(1)
{
  padding: 2% 1% 1% 2%;
  filter: blur(10px);
}
section img:nth-child(2)
{
  padding: 2% 1% 1% 1%;
}
section img:nth-child(3)
{
  padding: 2% 2% 1% 1%;
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}
section img:nth-child(4)
{
  padding: 1% 1% 2% 2%;
}
section img:nth-child(5)
{
  padding: 1% 1% 2% 1%;
}
section img:nth-child(6)
{
  padding: 1% 2% 2% 1%;
}
/* NOTE: footer */
footer
{
  background-color: #C6d5c5;
  display: flex;
}
div [class*="caja"]{
  min-height: 25%;
  flex: 1 2 40%;
  font-size: 3.5vh;
  color: black;
  text-align: justify;
}
div [class*="caja"] h2
  {
  text-align: center;
  }
footer .caja3 img
{
  filter: none;
}
.footer-image
{
  float: left;
  width: 10%;
}
footer .caja1
{
  padding-left: 1%;
}
@media (max-width:900px) {
  body
  {
    max-width: 100%;
  }
  header
  {
  text-align: center;
  justify-content: center;
  min-width: 100%;
 }
 header h1
 {
   font-size: 6vh;
 }
 header nav
 {
   font-size: 5vh;
   align-items: center;
 }
 section
 {
   flex-direction: column;
   align-items: center;
 }
 section img
 {
   width: 85%;
 }
 section img:nth-child(1)
 {
   padding:5%;
 }
 section img:nth-child(2)
 {
   padding:5%;
 }
 section img:nth-child(3)
 {
   padding:5%;
 }
 section img:nth-child(4)
 {
   padding:5%;
 }
 section img:nth-child(5)
 {
   padding:5%;
 }
 section img:nth-child(6)
 {
   padding:5%;
 }

 footer
 {
   max-width: 100%;
   flex-direction: column;
 }
 div [class*="caja"]
 {
   max-width: 100%;
   align-content:center;
   text-align: justify;
   font-size: 4vh;
   color: black;
}
